{%extends "layout.html" %}
{% block content %}
    <h1> Test Management System </h1>
    <!-- alpha 1 release -->
    <h4> Alpha 1 Release </h4>
    <p>
        This is a test management system for Genus. 
        This enables the user to create and edit tests and map them to specific projects. <br> <br>
        <small> Please note that this is an alpha release. <br> 
            <ul>
                <li>Any loss of data or productivity can occur.</li>
                <li>Please maintain a backup of your data. </li> 
                <li>Please use this system with caution.</li>
                <li>Some parts of the software are incomplete and may be implemented soon.</li>
            </ul>
        </small>
    </p>
    <!-- copyright -->
    <p class="copyright">
        &copy; 2021-22 <a href="http://www.genus.in">Genus</a>. All rights reserved.<br>
        Please contact Mr. Navneet Tripathi for any queries, or reports of bugs.
    </p>
{% endblock content %}