<html>
<head>
<title>TMS</title>
<style>
body
{
	background-color: whitesmoke;
}
table
{
	border:1px white;
	margin-top:200px;
	margin-left:500px;
	background-color:white;
	padding:20px
}
#btn
{
	width:200px;
	height:50px;
	background-color:#f6fcfb;
}

</style>
</head>
<h1> <center> Login to Test Management System </h1>
<body>
	<form method="POST">
		<table border=0 cellspacing=5px>
            <tr>
                <td>Email:</td>
                <td><input type=text name=email></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type=password name=password></td>
            </tr>
            <tr>
                <td colspan=2 align=center><input type=submit name=btnLogin value=Login></td>
            </tr>
        </table>
    </form>
</body>
</html>